/* 
* HWCOE Research Areas Display Styles
*/

.fancyboxcont {
    display: none;
}

.fancybox-opened {
    width: 60% !important;
}

.fancybox-inner {
    width: 100% !important;
}

.fancybox-opened .fancybox-skin {
    padding: 0px !important;
}

html.fancybox-lock {
    overflow-y: scroll !important
}

.popupcont {
    display: flex;
}

.popupcont-img {
    margin-right: 25px;
}

.popupcont img {
    max-width: 200px;
}

.popupcont h1 {
    font-size: 45px;
    margin: 0 0 15px;
    line-height: 50px;
	text-align: left;
}

.popupcont h2 {
    font-size: 20px;
	text-align: center;
}

.popupcont {
    line-height: 25px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-bottom: 20px;
    padding-top: 25px;
    text-align: justify;
    font-family: inherit;
    font-size: 16px;
    color: #000;
}

.popupcont p {
    text-align: left;
}

.researchareas-tab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0;
}

.researchbox {
    padding: 10px;
    width: 250px;
    margin: 0 5px 10px;
    background: rgba(255, 255, 255, 0.40);
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, .30);
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, .30);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .30);
}

.researchbox:hover {
    background: rgba( 0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, .20);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, .20);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .20);
}

.researchbox img {
    max-width: 230px;
}

.researchbox h2 {
    font-size: 25px;
	color: #fff;
	text-align: center;
	line-height: 25px;
}

.researchthumbnail {
	width: 230px;
	height: 230px;
	background-color: #4C494A;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.researchbox a,
.researchbox a:hover {
    text-decoration: none !important;
    color: #000;
}
.fancybox-container {
    z-index: 999998;
}
.fancyboxcont {
    padding: 0px;
    width: 75%;
    max-width: 1100px;
    background:#fff;
}

hr.header-line {
    margin: 16px 0;
    border-bottom: 1px solid #ccc;
}

/*Images Sizing*/
.wpsp-image-center .wp-post-image, .wpsp-image-center img {
	max-width: 150px;
}


@media(max-width:1030px) {
    .popupcont {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        align-items: center;
    }
    .popupcont-img {
        margin-right: 0;
    }
    .popupcont img {
        width: 100%;
    }
    .popupcont h1 {
        text-align: center;
    }
}

@media(max-width:767px) {
    .fancybox-opened {
        width: 85% !important;
        left: 7% !important;
    }
	/*.popupcont img {
        width: auto;
    }*/
}

@media(max-width:460px) {
	.researchbox p {
		font-size: 15px;
	}
	.popupcont h1 {
        font-size: 34px;
        line-height: 40px;
    }
}